// my animations
@keyframes move{
  0%   {left: 15px;}
  100% {left: 0px;}
}
.container{
  width: 100%;
}

.header-section{
  text-align: center;
  animation-duration: 2000ms;
  animation-delay: 500ms;
  animation-timing-function: cubic-bezier(0.165, 0.82, 0.44, 1);
  
  .header-section__intro{
    display: inline-block;
    padding-top: 80px;
    background-color: #f8f8f8;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1rem;
  }

  .header-section__title{
    display: inline-block;
    font-size: calc(5.2vw + 20px);
    width: 100%;
    background: linear-gradient(to top, #ffffff 50%, #f8f8f8 50%);
    margin-top: -1px;
  }

  .header-section__paragraph{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    //letter-spacing: 0.1rem;
    animation: move 1s;

    p{
      padding: 0% 4% 2% 4%;
      max-width: 800px;
    }
  }
}


//filters nav
.nav-filters{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  -webkit-box-shadow: 0px 0px 0.5px 0.1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 0.5px 0.1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 0.5px 0.1px rgba(0,0,0,0.75);

}

// Para el cuadrito no más
.nav-filters__search_container{
  border: solid 1px rgba(122, 122, 122, 0.5);
  position: relative;
  padding: 8px;

  .nav-filters__search_icon{
    height: 50%;
    top: 50%;
    left: 24px;
    transform: translate(-50%, -50%);
    position: absolute;
    fill: #d6da05;
  }

  .nav-filters__search_input{
    width: 100%;
    padding: 6px 32px;
    border: solid 1px rgb(255, 255, 255);
    font-size: 12px;
  }

  .nav-filters__search_input:focus{
    outline: none;
  }

  .nav-filters__search_input::-webkit-search-cancel-button{
    font-size: 20px;
  }
}

// Para los roles
.nav-filters__rol_select{
  list-style: none;
  button{
    width: 100%;
    border-style: none;
    cursor: pointer;
  }

  button:active, button:focus{
    outline: none;
  }
}

// Para la dificultad
.nav-filters__difficulty-select{
  width: 12%;

  select{
    height: 100%;
    width: 100%;
    padding: 8%;
    border-style: none;
    background: transparent;
    margin-right: 8%;
    &:focus{
      outline: none;
    }
  }
}

.grid{
  width: 100%;
  display: grid;
  padding: 12px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
  list-style: none;
  object-fit: cover;
  justify-content: center;
}

@media (min-width: 750px){
  .grid{
    grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
    padding: 4% 2%;
  }
}
// Media queries
@media screen and (min-width: 1024px) {
  .grid{
    grid-template-columns: repeat(auto-fill, minmax(16%, 1fr));
    grid-gap: 20px;
    padding: 4% 12%;
  }

  .nav-filters{
    flex-direction: row;
    justify-content: space-between;
    border: solid 1px rgb(202, 202, 202);
    margin: 0% 9%;

    &__rol_select{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: gray;
      button{
        height: 100%;
        padding: 0px 16px;
        border-bottom: 0px solid transparent;
        color:rgba(122, 122, 122, 0.5);
        &:hover{
          border-bottom: solid 3px rgba(209, 160, 0, 0.3);
          padding-top: 3px;
          color: black;
        }
      }
    }

    &__search_container{
      border: none;
      border-right: solid 1px rgb(202, 202, 202);
      width: 10%;
    }
  }
}
