.container{
  background-color: cadetblue;
  width: 100%;
  margin-top: -80px;
  height: 100vh;

  h3{
    position: absolute;
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
    text-align: center;
    color: rgb(236, 1, 1);
    font-size: calc(3rem + 20px);
  }

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}