@import url('https://db.onlinewebfonts.com/c/5a8d949826c5f2d8733fa324b51a507d?family=BeaufortW01-Heavy');
// trademark Beaufort Pro is a trademark of by Nick Shinn. Published by Shinn Type Foundry.
// https://www.onlinewebfonts.com/download/5a8d949826c5f2d8733fa324b51a507d


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Extend/Inheritance

%center {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  font-family: "BeaufortW01-Heavy";
  font-style: italic;
}

%full-page {
  width: 100vw;
  height: 100vh;
}

// Styles

body {
  font-family: 'Caudex', serif;
}

#root {
  @extend %center;
  @extend %full-page;
  font-family: 'Caudex', serif;
  // font-family: 'Raleway', sans-serif;
}

.rol-active {
  background-color: aqua;
}


